.player-info {
  width: 660px;
  position: fixed;

  &.closed {
    width: 385px;

    .player-info-tile {
      width: 310px;

      &.active {
        width: 335px;
        padding-left: 35px;
      }

      .player-stats, .player-stats-long {
        display:none
      }
    }
  }

  .player-info-tile {
    box-sizing: border-box;
    width: 585px;
    height: 90px;
    padding: 10px;
    overflow: hidden;

    &.active {
      width: 610px;
      padding-left: 35px;
    }

    .free-action-button {
      font-size: 12px;
      margin: 0px 10px;
      padding: 0px 5px;
      min-height: 20px;
    }

    .player-name-headers {
      float:left;
      width: 200px;

      .role-header {
        font-family: 'Lansbury';
        font-size: 24px;
        margin: 0;
      }

      .player-name {
        margin: 4px 0;
      }
    }

    .player-stats, .player-stats-long {
      float: left;
      min-width: 90px;

      & > div {
        margin: 0 5px 8px 0;
      }
    }

    .player-stats-long {
      width: 150px;
    }

    .player-extra-data {
      float: right;
      width: 75px;
      position: relative;

      .info-button {
        position: absolute;
        top: -5px;
        left: 40px;
      }
    }

  }

  .fa-center-icon {
    margin: 3px 2px 0 0;
  }

  .fontSize12 {
    font-size: 12px;
    text-transform: uppercase
  }

  .fontSize18 {
    font-size: 18px;
  }

  .expand-button-div {
    height: 100%;
    width: 50px;
    float: right;

    .expand-button {
      background-color: transparent;
      min-width: 36px;
      min-height: 36px;
      width: 36px;

      i {
        opacity: 0.25;
        &:hover {
          opacity: 1;
        }
      }
    }

  }
}
