.game-over {
  .title {
    font-family: 'Lansbury';
    font-size: 64px;
    margin: 10px;
    text-align: center;
  }

  .winner-div {

    width: 90%;
    height: 150px;
    border-radius: 25px;
    text-align: center;
    margin: 0 auto;
    padding: 10px;

    h3 {
      font-family: 'Lansbury';
      font-size: 48px;
      margin: 10px;
    }

    p {
      font-size: 32px;
    }
  }

  .other-players-div {
    width: 90%;
    border-radius: 25px;
    text-align: center;
    margin: 10px auto;
    padding: 5px;

    p {
      font-size: 26px;
    }
  }
}
