.how-to-play-container {

  .help-button {
    background-color: white;
    height: 24px;
    width: 24px;
    min-width: 24px;
    min-height: 24px;
    position: fixed;
    right: 20px;
    bottom: 20px;

    i {
      line-height: 24px;
    }
  }

}

.how-to-play-dialog {
  .dialog-title {
    font-family: 'Lansbury';
    text-align: center;
    font-size: 48px;
    line-height: 24px;
  }

  .tab-container {
    padding: 15px;
    height: 750px;
    overflow-y: scroll;
  }
}
