.card-deck {
  position: fixed;
  right: 10px;
  top: 400px;
  width: 250px;

  .card-deck-inner {
    width: 250px;
    height: 150px;
    background-color: gray;
    position: relative;

    .card-div, .card-div-transparent {
      position: absolute;
      border-radius: 10px;
      width: 180px;
      height: 120px;
      border: 2px solid black;
      background-color: white;

      .card-logo {
        max-width: 180px;
        padding: 15px 0;
      }
    }

    .card-div-transparent {
      background-color: transparent;
    }

  }
}

.card-paper-outer {
  margin: 10px;

  .card-paper {
    padding: 10px;

    .card-paper-inner {
      width: 280px;
      height: 250px;
    }
  }
}

.rowFlex {
  display: flex;
  flex-direction: row
}

#bottom-button {
  margin: 10px 0 0;
  width: 100%;
}
