.player-actions {
  width: 250px;
  height: 180px;
  position: fixed;
  right: 10px;
  top: 220px;

  .cancel-button {
    width: 110px;
    margin: 10px 0 0 10px;
    background-color: #f2441d;
    color: #FFFFFF;

    &:hover {
      background-color: #b23215;
    }

    i {
      padding: 5px;
    }
  }

  .confirm-button {
    width: 110px;
    margin: 10px 0 0 10px;
    background-color: #00ba50;
    color: #FFFFFF;

    &:hover {
      background-color: #008c3c;
    }

    i {
      padding: 5px;
    }
  }

  .finish-button {
    width: 230px;
    margin: 10px;
    background-color: #3178d6;
    color: #FFFFFF;

    &:hover {
      background-color: #255ba3;
    }

    i {
      padding: 5px;
    }
  }
}
