@font-face {
  font-family: 'Lansbury';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lansbury.ttf') format('truetype')
}

.highlighted-primary {
  background-color: #42f4e5 !important;
  fill: #42f4e5;
  -webkit-animation: flash linear 2s infinite;
  animation: flash linear 2s infinite;
}

.highlighted-primary-button {
  color: #42f4e5 !important;
  -webkit-animation: flash linear 2s infinite;
  animation: flash linear 2s infinite;
}

.highlighted-secondary {
  fill: #3bef59;
}

@-webkit-keyframes flash {
	0% { opacity: 1; }
	50% { opacity: .1; }
	100% { opacity: 1; }
}
@keyframes flash {
	0% { opacity: 1; }
	50% { opacity: .1; }
	100% { opacity: 1; }
}

.temporary {
  opacity: 0.5;
}

.gameBoard {
  width: 760px;
  float: left;
}

.main-button {
  width: 110px;
  margin: 10px 0 0 10px;

  &:not([disabled]) {
    background-color: #3178d6 !important;
    color: #FFFFFF !important;

    &:hover {
      background-color: #255ba3 !important;
    }
  }

  i {
    padding: 5px;
  }
}
