.layoutSelect {
  .select-title {
    font-family: 'Lansbury';
    font-size: 48px;
    margin: 10px;
  }

  .gameBoard {
    width: 280px !important;
    height: 280px !important;
    position: relative;

    .layout-button {
      background-color: transparent;
      height: 24px;
      width: 24px;
      min-width: 24px;
      min-height: 24px;
      position: absolute;
      top: 10px;
      left: 10px;
    }
  }
}
