.player-form {
  .select-title {
    font-family: 'Lansbury';
    font-size: 48px;
    margin: 10px;
  }

  .player-select-tile {
    width: 315px;
    height: 70px;
    float: left;
    border-radius: 20px;
    padding: 10px;
    margin: 5px;

    .player-select-headers {
      width: 100%;
      float: none;
      clear: both;

      h3 {
        font-family: 'Lansbury';
        float: left;
        font-size: 30px;
        margin: 0;
      }

      .header-button {
        background-color: transparent;
        height: 24px;
        width: 24px;
        min-width: 24px;
        min-height: 24px;
        float: right;
        position: relative;
        top: -10px;
      }

      .info-button {
        float: right;
        position: relative;
        top: -10px;
      }
    }

    .player-select-stats {
      width: 100%;
      float: none;
      clear: both;

      .player-chip {
        float: left;
        margin: 5px;
      }
    }
  }

  .player-type-container {
    box-sizing: border-box;
    width: 720px;
    height: 280px;
    border-radius: 25px;
    margin: 10px 20px 10px 0px;
    padding: 10px;
  }
}
