.player-role-dialog-container {

  .info-button {
    background-color: transparent;
    height: 24px;
    width: 24px;
    min-width: 24px;
    min-height: 24px;

    i {
      line-height: 24px;
    }

  }
}

.player-role-dialog {
  .dialog-title {
    font-family: 'Lansbury';
    text-align: center;
    font-size: 48px;
    line-height: 24px;
  }

  .tab-container {
    padding: 15px;
    height: 750px;
    overflow-y: scroll;
  }
}
