.roomSelect {
  .select-title {
    font-family: 'Lansbury';
    font-size: 48px;
    margin: 10px;
  }

  .room-select-form {
    clear: both;
    float: none;

    .room-type-select {
      width: 150px;
    }
  }
}
